<div class="page-header">
  <%= link_to new_education_history_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Education history
  <% end %>
  <h1>Listing education_histories</h1>
</div>

<%= render :partial => "index",:locals=>{:education_histories=>@education_histories} %>