<div class="page-header">
  <%= link_to new_work_history_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Work history
  <% end %>
  <h1>Listing work_histories</h1>
</div>

<%= render :partial => "index",:locals=>{:work_histories=>@work_histories} %>